<div class="card" [style.width]="width">
    <div class="card-body">
        <h5 class="card-title">Agendamento de {{ agendamento?.pacienteNome}}</h5>
        <h6 class="card-subtitle mb-2 text-muted" *ngIf="agendamento?.dataHora">
            {{ agendamento.dataHora | date:'short' }}
        </h6>
        <p class="card-text">Status: {{ agendamento?.status }}</p>
        <p class="card-text">Token: {{ agendamento?.tokenConfirmacao }}</p>

        <button type="button" class="btn btn-secondary btn-sm" (click)="enviarConfirmacao()">Enviar confirmação</button>
    </div>
</div>
