/* You can add global styles to this file, and also import other style files */
/* Bootstrap CSS */
@import "bootstrap/dist/css/bootstrap.min.css";


// 1. styles.scss (global)
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

app-root {
  display: block;
  height: 100%;
}